{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Index PAge</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <!-- Presenting products into table, bootstrap dark_table -->
        <h1>Produtos</h1>

        <table class="table table-dark">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Produto</th>
                <th scope="col">Preco</th>
                <th scope="col">Estoque</th>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td scope="row">{{ produto.id }}</td>
                        <td scope="row">{{ produto.nome }}</td>
                        <td scope="row">{{ produto.preco }}</td>
                        <td scope="row">{{ produto.estoque }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>